extends _partial/layout

block content

    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet">
                <div class="mdc-card  mdc-card--outlined">
                    <a class="mdc-card__primary-action" tabindex="0" href="/派對/舞蹈聯誼">
                        <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url('/派對/舞蹈聯誼/cover.jpg');"></div>
                        <div style="padding: 1rem;">
                            <h2>【派對】舞蹈聯誼</h2>
                            <h4>8/24(六) 9/25(三) 1/19(六) 10/19(六) 11/9(六) 11/24(日) 12/7(六) 12/22(日)</h4>
                        </div>
                    </a>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                            <a class="mdc-button mdc-card__action mdc-card__action--button" href="/派對/舞蹈聯誼">
                                <span>進一步了解</span>
                            </a>     
                            <a class="mdc-button mdc-card__action mdc-card__action--button" href="/派對/舞蹈聯誼/報名" target="_blank">
                                <span>立即報名</span>
                            </a>
                        </div>
                    </div>
                </div>            
            </div>

            <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet">
                <div class="mdc-card  mdc-card--outlined">
                    <a class="mdc-card__primary-action" tabindex="0" href="/派對/遇見珍愛之舞">
                        <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url('/派對/遇見珍愛之舞/cover.jpg');"></div>
                        <div style="padding: 1rem;">
                            <h2>【派對】遇見珍愛之舞</h2>
                            <h4>8/10(六)</h4>
                        </div>
                    </a>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                            <a class="mdc-button mdc-card__action mdc-card__action--button" href="/派對/遇見珍愛之舞">
                                <span>進一步了解</span>
                            </a>     
                            <a class="mdc-button mdc-card__action mdc-card__action--button" href="/派對/遇見珍愛之舞/報名" target="_blank">
                                <span>立即報名</span>
                            </a>
                        </div>
                    </div>
                </div>            
            </div>

            <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet">
                <div class="mdc-card  mdc-card--outlined">
                    <a class="mdc-card__primary-action" tabindex="0" href="/電影舞蹈/阿拉丁">
                        <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url('/電影舞蹈/阿拉丁/cover.jpg');"></div>
                        <div style="padding: 1rem;">
                            <h2>【電影舞蹈】阿拉丁</h2>
                            <h4>8/17(六) 8/18(日)</h4>
                        </div>
                    </a>
                    <div class="mdc-card__actions">
                        <div class="mdc-card__action-buttons">
                            <a class="mdc-button mdc-card__action mdc-card__action--button" href="/電影舞蹈/阿拉丁">
                                <span>進一步了解</span>
                            </a>     
                            <a class="mdc-button mdc-card__action mdc-card__action--button" href="/電影舞蹈/阿拉丁/報名" target="_blank">
                                <span>立即報名</span>
                            </a>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>