doctype

html(lang="zh-Hant-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        != css("https://fonts.googleapis.com/icon?family=Material+Icons")
        != css("https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")

        != js("https://code.getmdl.io/1.3.0/material.min.js")
    
    body
        button(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") test button