extends _partial/layout

block content
    article
        header
            //- h1= page.title
        != page.more
    
    style.
        .apply-button {
            position: fixed;
            right: 0;
            bottom: 0;
            margin-right: 24px;
            margin-bottom: 24px;
        }
    a.apply-button.mdc-button.mdc-button--raised.mdc-elevation--z6(href= "報名" target="_blank") 立即報名

    script.
        document.getElementsByClassName("apply-button")[0].onclick = function() {fbq('trackCustom', '報名');};