<meta property="og:image" content="/imgs/og-image.jpg">
<meta property="og:image:height" content="241">
<meta property="og:image:width" content="460">
<meta property="og:url" content="www.welovewedance.com">
<meta property="og:description" content="一場歡樂又浪漫的舞蹈派對，分組活動輕鬆交流，還有午茶搭配美味點心，一起 好好地玩耍！無須舞蹈經驗、無須攜伴參加，輕鬆在舞動延展中愛上自己、認識 他人！來加入最浪漫、最時尚的交友派對！">
<meta property="og:title" content="樂舞派對">