-
 var title = page && page.title ? page.title + " - " + config.title : config.title;
 var description = page && page.description ? page.title : config.description;

title= title
meta(name="description", content=description)

title=config.title
meta(name="description", content=description)

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

include icons

!= css("css/normalize.css")
!= css("https://fonts.googleapis.com/icon?family=Material+Icons")
!= css("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")

!= js("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")