-
 var headerTitle = "樂舞派對"

doctype

html(lang="zh-Hant-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        != css("css/normalize.css")
        != css("https://fonts.googleapis.com/icon?family=Material+Icons")
        != css("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")

        != js("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
    
    body
        aside.mdc-drawer.mdc-drawer--modal
            div.mdc-drawer__content
                nav.mdc-list
                    include nav
        div.mdc-drawer-scrim

        header.mdc-top-app-bar.mdc-top-app-bar--short.mdc-top-app-bar--short-collapsed
            div.mdc-top-app-bar__row
                section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
                    button.material-icons.mdc-top-app-bar__navigation-icon menu
                    span.mdc-top-app-bar__title= headerTitle

        main
            div.mdc-top-app-bar--fixed-adjust
                block content

        script.
            var drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector(".mdc-drawer"));

            var button = document.querySelector(".mdc-top-app-bar__navigation-icon");
            button.addEventListener('click', function() {
                drawer.open = !drawer.open;
            });
      