-
 var headerTitle = "樂舞派對"

doctype

html(lang="zh-Hant-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        != css("https://fonts.googleapis.com/icon?family=Material+Icons")
        != css("https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")

        != js("https://code.getmdl.io/1.3.0/material.min.js")
    
    body
        div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
            header.mdl-layout__header
                div.mdl-layout__header-row
                    span.mdl-layout-title= headerTitle
                    div.mdl-layout-spacer
                    nav.mdl-navigation
                        include nav

            div.mdl-layout__drawer
                span.mdl-layout-title= headerTitle
                nav.mdl-navigation
                    include nav

            main.mdl-layout__content
                div.page-content
                    block content


        