doctype

html(lang="zh-Hant-TW")
    head
        include head
    
    body
        include drawer

        include top-app-bar

        main
            div.mdc-top-app-bar--fixed-adjust
                block content

        script.
            var drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector(".mdc-drawer"));

            var button = document.querySelector(".mdc-top-app-bar__navigation-icon");
            button.addEventListener('click', function() {
                drawer.open = !drawer.open;
            });
      